<!doctype html>
<html>
<head>
    <title>ChatApp Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="auth">
    <div class="card">
        <h1>ChatApp</h1>
        <p>Real-Time Messaging</p>

        {% if error %}
            <div class="error">{{error}}</div>
        {% endif %}

        <form method="post">
            <input
                name="username"
                placeholder="Username"
                required
            >
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >
            <button>Login</button>
        </form>

        <p>
            New user? <a href="/register">Register</a>
        </p>
    </div>
</body>
</html>
